<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'inventory/base.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
    
    <div id="logo-div"><img id="main-logo" src="{% static 'inventory/logo.png' %}"></div>
    <nav>
        <a href="{% url 'menu' %}">Menu</a>
        <a href="{% url 'ingredientslist' %}">Ingredients</a>
        <a href="{% url 'purchaselist' %}">Order History</a>
        <a href="{% url 'financialdashboard' %}">Financials</a>
    </nav>

    <div class="content">
    {% block content %}
    {% endblock %}
    </div>
</body>