{% extends "inventory/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'inventory/ingredients_list.css' %}">
{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Ingredient</th>
        <th>Available Quantity</th>
        <th>Price Per Unit</th>
        <th>Unit of Measurement</th>
    </tr>
    {% for ingredient in ingredient_list %}
        <tr>
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.available_quantity}}</td>
            <td>{{ingredient.price_per_unit}}</td>
            <td>{{ingredient.measurement_unit}}</td>
            <td>
                <a href="{% url 'deleteingredient' ingredient.pk %}">
                        <img class="icon-small"src="{% static 'inventory/trash_can.png' %}" alt="Delete">
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}